
    <thead>
        <tr>
        <th scope="col">{{{textsTable.username}}}</th>
        <th scope="col">{{{textsTable.fullname}}}</th>
        <th scope="col">{{{textsTable.course}}}</th>
        </tr>
    </thead>
    <tbody>
        {{{table}}}
    </tbody>
